
b2 {
color: black;
position: absolute;
top: 500px;
left: 32vw;
font-size: 20px;
text-align: center;

@media screen and (max-width: 1200px) {
text-align: left;
left: 2vw;
}




}



body {
background-image: url("images/studentid.png");
background-repeat: no-repeat;
background-size: cover;
background-size: 100% 6000%;

}
