b1 {
position:fixed;
left: 12vw;
top: 50px;

}


b2 {
color: black;
position: fixed;
top: 900px;
font-size: 2vw;


}

b3 {
  color: black;
  position: fixed;
  top: 10vw;
  left: 25vw;
  font-size: 2vw;
}

body {
background-image: url("images/studentid.png");
background-repeat: no-repeat;
background-size: cover;
}
