

b2 {
color: black;
position: absolute;
top: 500px;
left: 32vw;
font-size: 20px;
text-align: center;

@media screen and (max-width: 1200px) {
text-align: left;
left: 2vw;
}




}



f1 {
position: fixed;
text-align: center;
left: 10vw;
bottom: 10px;
color: blue;
font-size: 25px;
transform: scale(2,1);
}

#movingheart
{
    animation: movingheart 5s infinite linear;
}

@keyframes movingheart {
  0%{-10;}
  100%{2000;}
}



body {
background-image: url("images/studentid.png");
background-repeat: no-repeat;
background-size: cover;
background-size: 100% 6000%;

}
