@font-face {
  font-family: london;
  src: url(fonts/OldLondonAlternate.ttf);
}

#container a{
color: #00ea2b;
}

#container a:hover{
color: blue;
}


b1{
  position: absolute;
  z-index: 10;
}





body {
  background-image: url("images/skineki1.png");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-attachment: scroll;
}
