#container a{
color: #00ea2b;
}

#container a:hover{
color: blue;
}


#containerb a{
  color: rgb(255, 63, 204);
  font-family:fantasy
}

#containerb a:hover{
color: rgb(229, 255, 0);
}

#containerc a:hover{
  background-color: greenyellow;
}

b1{
}

h1 {
    bottom: 1vw;
    left: 2vw;
    font-size: 0vw;
    position: fixed;


    @media screen and (max-width: 600px) {
    left: 2vw;

    }
}




p1{
  top: 220px;
  left: 350px;
  position: absolute;
  transform: scale(15,2);
    z-index: 11;
}

p2{
  top: 350px;
  left: 700px;
  position: absolute;
  transform: scale(1,1);
    z-index: 11;
}

p3{
  top: 200px;
  left: 500px;
  position: absolute;
  transform: scale(1,1);
  z-index: 10;
}


p4{
  top: 400px;
  left: 0px;
  position: absolute;
  background-color: blue;

}


p5 {
  position: absolute;
  top: 500px;
  left: 00px;
  z-index: 100;
  transform: scale(1,10);
}

p6 {
  position: fixed;
  color: blue;
  bottom: 10px;
  right: 10px;
  text-align: right;
  background-color: #00ea2b;
  z-index: 1000;
}


p7 {
  position: absolute;
  top: 50px;
  left: 1000px;
  z-index: 100;
  transform: scale(0,0);
  color: black;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}



body {
  background-color: white;
  height: 2000px;
}
