p1{
    position: absolute;
    z-index: 10;
}
p2{
    position: absolute;
    left: -10px;
    top: -10px;
}

p3{
    position: absolute;
    top: -50px;
    left: 490px;
    transform-origin: 0% 0%;
    transform: scale(3,5);
}

