@font-face {
  font-family: Apple;
  src: url("fonts/AppleGaramond.ttf");
}

@font-face {
  font-family: OldLondon;
  src: url("fonts/OldLondonAlternate.ttf");
}

@font-face {
  font-family: HNeue;
  src: url("fonts/Helvetica Neue LT Std 57 Condensed.otf");
}




body{
  top: 500px;
  height: 500px;

background-image: url("images/conductor.gif");


@media screen and (max-width: 599px) {
background-image: url("images/conductormobile.gif");

}

}

.image-container
{
  display: block;
  position: absolute;
  width: 20%;
  padding-top: 50%;
}

h1 {
  top: 5%;
  left: 25%;
  position: absolute;


}

h2 {
  top: 10%;
  left: 40%;
  width: 100px;
  height: auto;
  position: absolute;

}

p1 {

  bottom: 1vw;
  left: 2vw;
  font-size: 1.5vw;
  position: fixed;


  @media screen and (max-width: 599px) {
    font-size: 3vw;
        bottom: 8vw;
  }
}

p2 {
  bottom: 1vw;
  left: 35vw;
  font-size: 1.5vw;
  position: fixed;

  @media screen and (max-width: 599px) {
    font-size: 3vw;
    left: 2vw;
    bottom: 4vw;
  }
}

b1 {
  bottom: 1vw;
  right: 2vw;
  font-size: 1.5vw;
  position: fixed;


  @media screen and (max-width: 599px) {
    font-size: 3vw;
        bottom: 12vw;
        left: 2vw;
  }
}

b2 {
  right: 2vw;
  position: fixed;
}
