@font-face {
  font-family: Apple;
  src: url("fonts/AppleGaramond.ttf");
}

@font-face {
  font-family: OldLondon;
  src: url("fonts/OldLondonAlternate.ttf");
}

@font-face {
  font-family: HNeue;
  src: url("fonts/Helvetica Neue LT Std 57 Condensed.otf");
}




body{
  background-image: url("images/poster_3.png");
  background-size: contain;
  background-attachment:local;
  top: 1000px;
  height: 1300px;
}

p1
{
  position: absolute;
  top: 1vw;
  left: 32vw;

  @media screen and (max-width: 600px) {
  left: 2vw;

  }

}

.clockwatchersposter{
width: 1000px;

}

p2
{
position: fixed;
background-color: grey;
bottom: 2vw;
left: 40vw;
font-size: 20px;
transform: scale(0.7,1.5);

@media screen and (max-width: 600px) {
left: -5vw;

}
}


p3 {
  position: fixed;
  background-color: grey;
  bottom: 2vw;
  left: 2vw;
  font-size: 20px;
  transform: scale(0.8,1.6);

  @media screen and (max-width: 600px) {
  font-size: 0px;
  left: 50vw;
  bottom: 2vw;

  }
}


p4 {
  position:absolute;
  font-family: OldLondon;
  font-size: 3vw;
  top: 800px;
  left: 300px;


}
