@font-face {
  font-family: Apple;
  src: url("fonts/AppleGaramond.ttf");
}

@font-face {
  font-family: OldLondon;
  src: url("fonts/OldLondonAlternate.ttf");
}

@font-face {
  font-family: HNeue;
  src: url("fonts/Helvetica Neue LT Std 57 Condensed.otf");
}




body{
  background-image: url("video/4-2.mp4");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment:scroll;
  top: 1000px;
  height: 1300px;
  background-color: black;
}

a:link {
  color: blue;
}
a:hover {
  color: red;
}



p1
{



  position: fixed;
  top: 5vw;
  left: 15vw;

  @media screen and (max-width: 600px) {
  left: 2vw;

  }

}

.clockwatchersposter{
width: 1000px;

}

p2
{
position: fixed;
bottom: 2vw;
left: 1vw;
}


p3 {
  position: fixed;
  top: 10vw;
  left: 35vw;
  font-size: 20px;
  transform: scale(1,1);

  @media screen and (max-width: 600px) {
  font-size: 10px;
  left: 50vw;
  bottom: 2vw;

  }
}


p4 {
  position:absolute;
  font-family: OldLondon;
  font-size: 3vw;
  top: 800px;
  left: 300px;


}
