@font-face {
  font-family: Apple;
  src: url("fonts/AppleGaramond.ttf");
}

@font-face {
  font-family: OldLondon;
  src: url("fonts/OldLondonAlternate.ttf");
}

@font-face {
  font-family: HNeue;
  src: url("fonts/Helvetica Neue LT Std 57 Condensed.otf");
}


#container a{
color: #a6a6a6;
}

#container a:hover{
color: blue;
}

body{
@media screen and (min-width: 1200px) {
  top: 500px;
  height: 500px;

background-image: url("images/conductor.gif");
  background-repeat:repeat-y;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

@media screen and (max-width: 1200px) {
background-image: url("video/4-2.mp4");
background-size: 100% 100%;
background-attachment: fixed;
background-repeat: repeat-y;

}
}



.image-container
{
  display: block;
  position: absolute;
  width: 20%;
  padding-top: 50%;
}

h1 {
  top: 5%;
  left: 25%;
  position: absolute;


}

h2 {
  top: 10%;
  left: 40%;
  width: 100px;
  height: auto;
  position: absolute;

}

p1 {

  bottom: 1vw;
  left: 2vw;
  font-size: 1.5vw;
  position: fixed;


  @media screen and (max-width: 1200px) {
    font-size: 0px;
        bottom: 8vw;
        left: 10vw;
  }
}

p2 {
  bottom: 1vw;
  left: 35vw;
  font-size: 1.5vw;
  position: fixed;

  @media screen and (max-width: 1200px) {
    font-size: 0px;
    left: 2vw;
    bottom: 4vw;
  }
}


b1 {
  bottom: 1vw;
  right: 2vw;
  font-size: 1.5vw;
  position: fixed;


  @media screen and (max-width: 1200px) {
    font-size: 0px;
        bottom: 12vw;
        left: 2vw;
  }
}

b2 {
  font-size: 0px;

    @media screen and (max-width: 1200px) {
      position: fixed;
      color: rgb(77, 77, 77);
    font-size: 3vw;
        bottom: 2vw;
        left: 1px;
  }
}


